html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
*/ *,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(209, 233, 121);
  color: #212121;
}
.container {
  /* width: 1300px; */
  margin-left: 100px;
  margin-right: 100px;
}
/* Article List */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  align-items: center;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tag-list__item {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats-item {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}
.material-icons {
  display: flex;
  margin-right: 10px;
}

.search-button {
  height: 30px;
  width: 100px;
  font-size: 20px;
  background-color: lightgray;
}
.search-button:hover {
  background-color: greenyellow;
}

.show-more-button {
  /* // display: flex; */
  align-items: center;
  margin-top: 30px;
  height: 30px;
  width: 220px;
  font-size: 20px;
  background-color: lightgray;
}
.show-more-button:hover {
  background-color: greenyellow;
}

.search-input {
  font-size: 20px;
  height: 30px;
  width: 600px;
  border: 1px solid grey;
  margin-right: 30px;
}
img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}
.img {
  height: 300px;
  width: max-content;
  object-fit: cover;
  cursor: pointer;
}
.gallery-item {
  width: calc((100%-4 * 10px) / 4);
  margin: 15px;
  /* width: calc(20% - 10px); */
}

.image-item {
  position: relative;
  /* flex-basis: calc(100% / 3 - 30px); */
  margin-bottom: 20px;
  margin-right: 30px;
  overflow: hidden;
  width: 320px;
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: lightgray;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' fill='black' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.005 512.005' style='enable-background:new 0 0 512.005 512.005;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M466.22,205.787L263.553,3.12c-4.16-4.16-10.923-4.16-15.083,0L45.804,205.787c-21.803,21.803-21.803,57.28,0,79.083 s57.28,21.803,79.083,0l77.781-77.781v251.584c0,29.397,23.936,53.333,53.333,53.333s53.333-23.936,53.333-53.333V207.088 l77.781,77.781c21.803,21.803,57.28,21.803,79.083,0C488.001,263.088,488.001,227.589,466.22,205.787z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  /* border-radius: 50%; 
  background-color: lightgray; 
  <img src="https://img.icons8.com/material-rounded/24/000000/level-up.png"/>
    background-image: url('https://img.icons8.com/ios/50/000000/page-up-button.png');
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' fill='black' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.005 512.005' style='enable-background:new 0 0 512.005 512.005;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M466.22,205.787L263.553,3.12c-4.16-4.16-10.923-4.16-15.083,0L45.804,205.787c-21.803,21.803-21.803,57.28,0,79.083 s57.28,21.803,79.083,0l77.781-77.781v251.584c0,29.397,23.936,53.333,53.333,53.333s53.333-23.936,53.333-53.333V207.088 l77.781,77.781c21.803,21.803,57.28,21.803,79.083,0C488.001,263.088,488.001,227.589,466.22,205.787z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  <img src="https://img.icons8.com/ios-glyphs/30/000000/circled-up-2.png"/>
  background-color: rgb(209, 233, 121);
}
.up:hover {
  background-color: greenyellow;
}

  */
}
.up:hover {
  background-color: greenyellow;
}
.button.is-hidden {
  display: none;
}
